function Dinosaur.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push pointer 0
push this 0
call Dinosaur.draw 2
pop temp 0
push pointer 0
return
function Dinosaur.draw 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 32256
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1280
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32641
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1985
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1987
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8163
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 6135
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 2046
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 1020
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 408
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 408
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 136
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 408
call Memory.poke 2
pop temp 0
push constant 0
return
function Dinosaur.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Dinosaur.getLocation 0
push argument 0
pop pointer 0
push this 0
return
function Dinosaur.jump 0
push argument 0
pop pointer 0
push this 0
push constant 4
sub
pop this 0
push pointer 0
push this 0
call Dinosaur.draw 2
pop temp 0
push constant 0
return
function Dinosaur.land 0
push argument 0
pop pointer 0
push this 0
push constant 4
add
pop this 0
push pointer 0
push this 0
call Dinosaur.draw 2
pop temp 0
push constant 0
return
